*
{
	margin: 0;
	padding: 0;	
}
h2
{
	text-align: center;
}

label, input 
{
	display: block;
	width: 100%;
	line-height: 30px;
	height: 30px;
	outline: none;
	font-size: 13pt;
}

input[type="submit"]
{
	cursor: pointer;
	margin-top: 10px;
}

table
{
	width: 100%;
	margin: 0 auto;
	background-color:blue(0, 0, 0, 0.2);
}

tr
{
	line-height: 30px;
}

tr#titulo_container, tr#titulo_mov
{	
    text-align: center;
	font-weight: bold;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

td
{
	padding: 0 5px;
}

a
{
	text-decoration: none;
	margin: 0 5px;
	padding: 5px;
	color: #000;
	background-color: #fff;
}

.aviso
{
	width: 100%;	
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img 
{
	float: left;
	width: 50px;
}

h4
{
	float: center;
	line-height: 50px;
    text-align: center;
}

.botao
{
    display: block;
    width: 20%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#lista_containers
{	
	display: fixed;
    width: 90%;    
	height: 50%;
    margin-left: auto;
    margin-right: auto;

}

#lista_movs
{	
	display: fixed;
    width: 90%; 
	height: 50%;   
    margin-left: auto;
    margin-right: auto;
}

#cadastro
{
    display: fixed;
    width: 50%;    
    margin-left: auto;
    margin-right: auto;
}

#movimento
{
    display: fixed;
    width: 50%;    
    margin-left: auto;
    margin-right: auto;
}